:root {
    --mainColor: #eaeaea;
    --secondaryColor: #fff;

    --borderColor: #c1c1c1;

    --mainText: black;
    --secondaryText: #4b5156;

    --themeDotBorder: #24292e;

    --previewBg: rgb(251, 249, 243, 0.8);
    --previewShadow: #f0ead6;


    --buttonColor: black;


}


html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body * {
    transition: 0.3s;
}


h1,
h2,
h3,
h5,
h6,
strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: #17a2b8;
}

ul {
    list-style: none;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}


.s1 {
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
    height: 90em;
}

.s2 {
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}




.main-container {
    width: 1200px;
    margin: 0 auto;
}


.greeting-wrapper {
    display: grid;
    text-align: center;
    align-content: center;
    min-height: 10em;

}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;


    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;
}


.nav-wrapper {
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
}

#navigation a {
    color: var(--mainText);
}




#navigation {
    margin: 0;
    padding: 10px;
}

#navigation li {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#navigation li a :hover {
    text-decoration: underline;
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

#dot-1 {
    background-color: #FC6058;
}

#dot-2 {
    background-color: #FEC02F;
}

#dot-3 {
    background-color: #2ACA3E;
}

.browser-dot {
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

}


.left-column {
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile_pic {
    display: block;
    margin: 0 auto;

    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}


#theme-options-wrapper {
    display: flex;
    justify-content: center;
}

.theme-dot {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;

    margin: 5px;
    border: 2px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

    cursor: pointer;
}


.theme-dot:hover {
    border-width: 5px;
}


#light-mode {
    background-color: #fff;
}

#blue-mode {
    background-color: #192734;
}

#green-mode {
    background-color: #78866b;
}

#purple-mode {
    background-color: #7E4C74;
}

#settings-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column {
    /* grid-area: right-column; */
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}


#preview-shadow {
    background-color: var(--previewShadow);
    max-width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
    animation: SlideUp 1.4s ease-in-out;
}

#preview {
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
    text-align: center;
    animation: SlideUp 1.4s ease-in-out;
}

.corner {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1.5px solid #17a2b8;
    background-color: #fff;
    position: absolute;
}

#corner-tl {
    top: -5px;
    left: -5px
}

#corner-tr {
    top: -5px;
    right: -5px
}


#corner-br {
    bottom: -5px;
    right: -5px
}


#corner-bl {
    bottom: -5px;
    left: -5px
}

.about-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 50px;
    padding-top: 50px;
    gap: 100px;
}


#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

.social-links {
    display: grid;
    align-content: center;
    text-align: center;
}

#social_img {
    width: 100%;
}


.post-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
}

.post {
    border: 1px solid var(--borderColor);
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
}

.thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview {
    background-color: #fff;
    padding: 15px;
}

.post-title {
    color: black;
    margin: 0;
}

.post-intro {
    color: #4b5156;
    font-size: 14px;
}


#contact-form {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--mainColor);
    margin-bottom: 50px;

}

#contact-form label {
    line-height: 2.7em;
}

#contact-form textarea {
    min-height: 100px;
    font-size: 14px;
}


.input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--secondaryColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}


#submit-btn {
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: var(--buttonColor);
    border: none;
}


@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav-wrapper'
            'left-column'
            'right-column'
        ;
    }

    .right-column {
        justify-content: center;
    }

}



@media screen and (min-width: 769px) and (max-width: 1024px) {
    #preview-shadow {
        max-width: 280px;
        height: 180px;
        padding-left: 10px;
        padding-top: 10px;
    }

    #preview {
        width: 280px;

    }

    .flex-container {
        display: grid !important;
    }

    #navigation li {
        margin-right: 0 !important;
    }

    .blog-container {
        width: 58rem !important;
        margin: 3% auto !important;
    }

}

@media screen and (min-width: 442px) and (max-width: 768px) {
    #preview-shadow {
        max-width: 280px;
        height: 180px;
        padding-left: 10px;
        padding-top: 10px;
    }

    #preview {
        width: 280px;

    }

    .flex-container {
        display: grid !important;
    }

    #navigation li {
        margin-right: 0 !important;
    }

    .blog-container {
        width: 42rem !important;
        margin: 3% auto !important;
    }

}



@media screen and (min-width: 401px) and (max-width: 441px) {
    #preview-shadow {
        max-width: 280px;
        height: 180px;
        padding-left: 10px;
        padding-top: 10px;
    }

    #preview {
        width: 280px;

    }

    .flex-container {
        display: grid !important;
    }

}

@media screen and (min-width: 321px) and (max-width: 400px) {
    #preview-shadow {
        max-width: 280px;
        height: 180px;
        padding-left: 10px;
        padding-top: 10px;
    }

    #preview {
        width: 280px;

    }

    .flex-container {
        display: grid !important;
    }

    #navigation li {
        margin-right: 0 !important;
    }

}

@media screen and (min-width: 321px) and (max-width: 375px) {
    #preview-shadow {
        max-width: 280px;
        height: 180px;
        padding-left: 10px;
        padding-top: 10px;
    }

    #preview {
        width: 16em;
    }

    #preview-shadow {
        width: 16em;
    }

    .flex-container {
        display: grid !important;
    }

    .blog-container {
        width: 18rem !important;
    }

    #navigation li {
        margin-right: 0 !important;
        margin-left: 0 !important;
        display: contents !important;
        font-size: 13px !important;
        padding: 2% !important;
    }

}

@media screen and (min-width: 0px) and (max-width: 320px) {
    #preview-shadow {
        max-width: 280px;
        height: 180px;
        padding-left: 10px;
        padding-top: 10px;
    }

    #preview {
        width: 14.5em;
    }

    #preview-shadow {
        width: 16em;
    }

    .flex-container {
        display: grid !important;
    }

    .blog-container {
        width: 18rem !important;
    }

    #navigation li {
        margin-right: 0 !important;
        margin-left: 0 !important;
        display: contents !important;
        font-size: 13px !important;
        padding: 2% !important;
    }

}

@keyframes SlideUp {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0);
    }
}

body {
    background: #e5ded8;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.blog-container {
    background: #344162;
    border-radius: 5px;
    -webkit-box-shadow: 18px 13px 27px -11px rgba(77, 63, 77, 1);
    -moz-box-shadow: 18px 13px 27px -11px rgba(77, 63, 77, 1);
    box-shadow: 18px 13px 27px -11px rgba(24, 23, 24, 0.92);
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    margin: 48px auto;
    width: 20rem;

    @media screen and (min-width: 480px) {
        width: 28rem;
    }

    @media screen and (min-width: 767px) {
        width: 40rem;
    }

    @media screen and (min-width: 959px) {
        width: 50rem;
    }
}

.blog-container a {
    color: #4d4dff;
    text-decoration: none;
    transition: .25s ease;
}

.blog-container a:hover {
    border-color: #ff4d4d;
    color: #ff4d4d;
}

.blog-cover {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/17779/yosemite-3.jpg");
    background-size: cover;
    border-radius: 5px 5px 0 0;
    height: 15rem;
    box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
}

.blog-author,
.blog-author--no-cover {
    margin: 0 auto;
    padding-top: .125rem;
    width: 80%;
}

.blog-author h4::before,
.blog-author--no-cover h4::before {
    background: url("/images/person.jpg");
    background-size: cover;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 32px;
    margin-right: .5rem;
    position: relative;
    top: 8px;
    width: 32px;
    cursor: pointer;
    font-family: 'Russo One', sans-serif;
}

.blog-author h4 {
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Russo One', sans-serif;
}

.blog-author--no-cover h4 {
    color: #b3b3b3;
    font-weight: 100;
    font-family: sans-serif;
    cursor: pointer;
}

.blog-body {
    margin: 0 auto;
    width: 80%;
}

.video-body {
    height: 100%;
    width: 100%;
}

.blog-title h1 a {
    color: #b3b3b3;
    cursor: pointer;
    font-weight: 100;
}

.blog-summary p {
    color: lighten(#333, 10%);
}

.blog-tags ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}

.blog-tags li+li {
    margin-left: .5rem;
}

.blog-tags a {
    border: 1px solid lighten(#333, 40%);
    border-radius: 3px;
    color: lighten(#333, 40%);
    font-size: .75rem;
    height: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    padding: 0 .5rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 5rem;
}

.blog-footer {
    border-top: 1px solid lighten(#333, 70%);
    margin: 0 auto;
    padding-bottom: .125rem;
    width: 80%;
}

.blog-footer ul {
    list-style: none;
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
    padding-left: 0;
}

.blog-footer li:first-child {
    margin-right: auto;
}

.blog-footer li+li {
    margin-left: .5rem;
}

.blog-footer li {
    color: lighten(#333, 40%);
    font-size: .75rem;
    height: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;

}

.blog-footer li>a {
    color: lighten(#333, 40%);
}

.comments {
    margin-right: 1rem;
}

.published-date {
    border: 1px solid lighten(#333, 40%);
    border-radius: 3px;
    padding: 0 .5rem;
}

.numero {
    position: relative;
    top: -0.5rem;
}

.icon-star,
.icon-bubble {
    fill: lighten(#333, 40%);
    height: 24px;
    margin-right: .5rem;
    transition: .25s ease;
    width: 24px;
}

.icon-star,
.icon-bubble :hover {
    fill: #ff4d4d;
}